In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from pandas import ExcelWriter

import numpy as np
import datetime as dt

import re

In [2]:
# name the output file for the tables
tables_out = "/home/gus/MEGAsync/zim/main/Yale/Projects/G_pallidipes/Reports/2015_grant_report/Sampling_Map_and_Tables/Sampling_Tables/crosssectional_tables.xls"

table_writer = ExcelWriter(tables_out)

In [3]:
main_table = pd.read_excel('/home/gus/Documents/YalePostDoc/project_stuff/G_pallidipes_kenya/gpd_combined_datatable_refined_2015-09-26_KENYA.xls')

In [4]:
yyyy = re.compile(r'\b[12]\d\d\d\b')
def get_YEAR(x):
    
    unknown = 'Unk.'
    
    if isinstance(x,dt.datetime):
        return x.year
    
    if str(x) == 'nan':
        return unknown
    
    if isinstance(x,(str,unicode)):
        matches = yyyy.findall(x)
        if len(matches) == 0:
            return unknown
        else:
            return int(matches[0])
    else:
        raise ValueError

In [5]:
# recode DATE to be string of year or Unk.

main_table["YEAR"] = main_table.DATE.apply(get_YEAR)
main_table[["YEAR","DATE"]][18:21]

    YEAR                 DATE
18  Unk.                  NaN
19  Unk.                  NaN
20  2003  2003-04-25 00:00:00

In [6]:
# recode SEX so NaN becomes string rather than Not_a_Number object 
# and questioned values like 'M (?)' are explicitly set to UNKNOWN

main_table.SEX = main_table.SEX.apply(lambda x: 'Unk.' if ((str(x) == 'nan') or '?' in x)  else x )
main_table.head(2)

,RECORD_SOURCE,LOCATION_LONG,SITE_GROUP,COUNTRY,TRAP_NUMBER,DATE,SPECIES,SEX,TENERAL,DEAD,FLY_NUMBER,HUNGER_STAGE,WING_FRAY,PROBOSCIS_TRYPS,MIDGUT_TRYPS,SALIVARY_GLAND_TRYPS,KEPT_IN,KEPT_IN_SIMPLE,COMMENT,TUBE_OR_BOX,METHOD_OF_PREPARATION,BOX_NUMBER_ID,SOURCE,LATITUDE,LONGITUDE,ELEVATION,INFECTION,TISSUE,DERIVATIVE,YEAR
0,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,1,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.
1,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,2,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.

In [7]:
# get table of just Gpd flies
gpd = main_table.query("SPECIES == 'Gpd'")

In [8]:
gpd.head(2)

,RECORD_SOURCE,LOCATION_LONG,SITE_GROUP,COUNTRY,TRAP_NUMBER,DATE,SPECIES,SEX,TENERAL,DEAD,FLY_NUMBER,HUNGER_STAGE,WING_FRAY,PROBOSCIS_TRYPS,MIDGUT_TRYPS,SALIVARY_GLAND_TRYPS,KEPT_IN,KEPT_IN_SIMPLE,COMMENT,TUBE_OR_BOX,METHOD_OF_PREPARATION,BOX_NUMBER_ID,SOURCE,LATITUDE,LONGITUDE,ELEVATION,INFECTION,TISSUE,DERIVATIVE,YEAR
0,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,1,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.
1,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,2,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.

In [9]:
# get Gpd with no question about site_group
gpd_noQ = gpd[gpd.SITE_GROUP.apply(lambda x: True if "?" not in x else False)]
gpd_noQ.head()

,RECORD_SOURCE,LOCATION_LONG,SITE_GROUP,COUNTRY,TRAP_NUMBER,DATE,SPECIES,SEX,TENERAL,DEAD,FLY_NUMBER,HUNGER_STAGE,WING_FRAY,PROBOSCIS_TRYPS,MIDGUT_TRYPS,SALIVARY_GLAND_TRYPS,KEPT_IN,KEPT_IN_SIMPLE,COMMENT,TUBE_OR_BOX,METHOD_OF_PREPARATION,BOX_NUMBER_ID,SOURCE,LATITUDE,LONGITUDE,ELEVATION,INFECTION,TISSUE,DERIVATIVE,YEAR
0,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,1,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.
1,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,2,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.
2,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,3,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.
3,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,4,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.
4,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,5,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,gDNA,Unk.

# SITE_GROUP by YEAR and SEX

In [10]:
SITE_GROUP_by_YEAR_and_SEX = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.SEX], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

SITE_GROUP_by_YEAR_and_SEX.to_excel(table_writer,sheet_name="SITE_GROUP_by_YEAR_and_SEX")
SITE_GROUP_by_YEAR_and_SEX

YEAR               2000           2001 2002       2003           2009      \
SEX                   F    M Unk. Unk.    F    M     F    M Unk.    F   M
SITE_GROUP
Busia                 0    0    0    0    0    0     0    0    0    0   0
Galana                0   96   24    0    0    0     0    0    0    0   0
Kabunkanga            0    0    0    0    0    0     0    0    0    0   0
Kalema                0    0   18    0    0    0     0    0    0    0   0
Kapesur               0    0    0    0    0    0     0    0    0   22  19
Kathekani            46   10    0    0    0    0     0    0    0    0   0
Ketri Insectary       0    0    0    0    0    0     0   92    0    0   0
Kodera Forest         0    0    0    0    0    0     0    0    0    0   0
Kwale                 0    0    0    0    0    0   306  160    0    0   0
Lambwe Valley        29   20    0    0  102   97    54   41   59    0   0
Lengobei              0    0    0    0    0    0    53   30    0    0   0
Leugong'u             0    0    0    0    0    0    94   48    0    0   0
Narok                 0    0    0    0    0    0    32   29    0   18  10
Nguruman              0   57    0   14   26   24   799  342    5   68   8
Nyaboro               0    0    0    0    0    0     0    0    0    0   0
Ruma National Park    0    0    0    0    0    0   932   63    0    0   0
Shimba Hills          0    0    0    0    0    0     0    0    0    0   0
Tsavo West            0    0    0    0    0    0     0    0    0    0   0
All                  75  183   42   14  128  121  2270  805   64  108  37

YEAR                    2010    2015     Unk.             All
SEX                Unk.    F  M    F   M    F    M Unk.
SITE_GROUP
Busia                 0    0  0    0   0    0    0   53    53
Galana                0    0  0    0   0   24    0    5   149
Kabunkanga            0   13  1    0   0    0    0    0    14
Kalema                0    0  0    0   0    0    0   18    36
Kapesur             102    0  0    0   0    0    0    0   143
Kathekani             0    0  0    0   0    0    0    0    56
Ketri Insectary       0    0  0    0   0    0    0    0    92
Kodera Forest         0    0  0    0   0   15   16    0    31
Kwale                 0    0  0    0   0    0    0   48   514
Lambwe Valley         0    0  0    0   0  134  104  107   747
Lengobei              0    0  0    0   0    0    0    0    83
Leugong'u             0    0  0    0   0   18    0   18   178
Narok                 0    0  0    0   0    0    0    0    89
Nguruman              1    0  0   73  50   53   43  253  1816
Nyaboro               0    0  0    0   0    7    3    0    10
Ruma National Park    0    0  0    0   0    0    0    0   995
Shimba Hills          0    0  0    0   0   74   22    0    96
Tsavo West            0    0  0    0   0   12   12   24    48
All                 103   13  1   73  50  337  200  526  5150

In [11]:
SITE_GROUP_by_YEAR_and_TISSUE = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.TISSUE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

SITE_GROUP_by_YEAR_and_TISSUE.to_excel(table_writer,sheet_name="SITE_GROUP_by_YEAR_and_TISSUE")
SITE_GROUP_by_YEAR_and_TISSUE

YEAR               2000 2001 2002  2003 2009                           \
TISSUE             NONE NONE NONE  NONE NONE carcass carcass, no legs
SITE_GROUP
Busia                 0    0    0     0    0       0                0
Galana              120    0    0     0    0       0                0
Kabunkanga            0    0    0     0    0       0                0
Kalema               18    0    0     0    0       0                0
Kapesur               0    0    0     0  102      36                0
Kathekani            56    0    0     0    0       0                0
Ketri Insectary       0    0    0    92    0       0                0
Kodera Forest         0    0    0     0    0       0                0
Kwale                 0    0    0   466    0       0                0
Lambwe Valley        49    0  199   154    0       0                0
Lengobei              0    0    0    83    0       0                0
Leugong'u             0    0    0   142    0       0                0
Narok                 0    0    0    61    0      20                4
Nguruman             57   14   50  1146    0       0                0
Nyaboro               0    0    0     0    0       0                0
Ruma National Park    0    0    0   995    0       0                0
Shimba Hills          0    0    0     0    0       0                0
Tsavo West            0    0    0     0    0       0                0
All                 300   14  249  3139  102      56                4

YEAR                                          2010    2015  Unk.   All
TISSUE             head, thorax, legs legs carcass carcass  NONE
SITE_GROUP
Busia                               0    0       0       0    53    53
Galana                              0    0       0       0    29   149
Kabunkanga                          0    0      14       0     0    14
Kalema                              0    0       0       0    18    36
Kapesur                             5    0       0       0     0   143
Kathekani                           0    0       0       0     0    56
Ketri Insectary                     0    0       0       0     0    92
Kodera Forest                       0    0       0       0    31    31
Kwale                               0    0       0       0    48   514
Lambwe Valley                       0    0       0       0   345   747
Lengobei                            0    0       0       0     0    83
Leugong'u                           0    0       0       0    36   178
Narok                               0    4       0       0     0    89
Nguruman                            5   72       0     123   349  1816
Nyaboro                             0    0       0       0    10    10
Ruma National Park                  0    0       0       0     0   995
Shimba Hills                        0    0       0       0    96    96
Tsavo West                          0    0       0       0    48    48
All                                10   76      14     123  1063  5150

In [12]:
SITE_GROUP_by_YEAR_and_DERIVATIVE = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.DERIVATIVE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

SITE_GROUP_by_YEAR_and_DERIVATIVE.to_excel(table_writer,sheet_name="YEAR_and_DERIVATIVE")
SITE_GROUP_by_YEAR_and_DERIVATIVE

YEAR               2000 2001 2002  2003 2009      2010 2015  Unk.   All
DERIVATIVE         gDNA gDNA gDNA  gDNA NONE gDNA NONE NONE  gDNA
SITE_GROUP
Busia                 0    0    0     0    0    0    0    0    53    53
Galana              120    0    0     0    0    0    0    0    29   149
Kabunkanga            0    0    0     0    0    0   14    0     0    14
Kalema               18    0    0     0    0    0    0    0    18    36
Kapesur               0    0    0     0   41  102    0    0     0   143
Kathekani            56    0    0     0    0    0    0    0     0    56
Ketri Insectary       0    0    0    92    0    0    0    0     0    92
Kodera Forest         0    0    0     0    0    0    0    0    31    31
Kwale                 0    0    0   466    0    0    0    0    48   514
Lambwe Valley        49    0  199   154    0    0    0    0   345   747
Lengobei              0    0    0    83    0    0    0    0     0    83
Leugong'u             0    0    0   142    0    0    0    0    36   178
Narok                 0    0    0    61   28    0    0    0     0    89
Nguruman             57   14   50  1146   77    0    0  123   349  1816
Nyaboro               0    0    0     0    0    0    0    0    10    10
Ruma National Park    0    0    0   995    0    0    0    0     0   995
Shimba Hills          0    0    0     0    0    0    0    0    96    96
Tsavo West            0    0    0     0    0    0    0    0    48    48
All                 300   14  249  3139  146  102   14  123  1063  5150

In [19]:
SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.KEPT_IN_SIMPLE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE.to_excel(table_writer,sheet_name="YEAR_and_KEPT_IN_SIMPLE")
SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE

Exception: Attempt to overwrite cell: sheetname=u'YEAR_and_KEPT_IN_SIMPLE' rowx=0 colx=0

In [14]:
gpd_noQ_RUMA = gpd_noQ.query("""SITE_GROUP == 'Ruma National Park'""")
len(gpd_noQ_RUMA)

995

In [15]:
gpd_noQ_RUMA.KEPT_IN.unique()

array([u'75% EtOH', u'NONE', u'EtOH', u'sdd H2O'], dtype=object)

In [16]:
gpd_noQ_RUMA.query("""KEPT_IN_SIMPLE == 'EtOH'""")["RECORD_SOURCE"].unique()

array([u'Not Sure', u'EPH Iowa Samples (Tube Boxes)',
       u'EPH Iowa Samples (Strip Tube Boxes)'], dtype=object)

In [18]:
RUMA_SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE = \
pd.crosstab(index=gpd_noQ_RUMA.RECORD_SOURCE, 
            columns=[gpd_noQ_RUMA.YEAR,gpd_noQ_RUMA.KEPT_IN_SIMPLE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

RUMA_SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE.to_excel(table_writer,sheet_name="RUMA_YEAR_and_KEPT_IN_SIMPLE")
RUMA_SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE

Exception: Attempt to overwrite cell: sheetname=u'RUMA_YEAR_and_KEPT_IN_SIMPLE' rowx=0 colx=0

In [20]:
table_writer.save()