# Spiroplasma vs Fly Sampling Locations

These are the analyses and results regarding the spiroplasma assays and any putative biased sex distribution etc.

__<font color="red">ATTENTION:</font> Click here to skip directly to the [Results](#Final-Results)__:
- [Methods Overview](#Overview-of-what-was-done:)
- [Sex Bias Results](#Sex-Bias-Results:)
    - [Conclusions](#Sex-Bias-Conclusions:)
- [Geographical Bias Results](#Geographical-Bias-Results:)
    - [Conclusions](#Geographical-Bias-Conclusions:)
    
 ----

In [1]:
%matplotlib inline

from StringIO import StringIO  # got moved to io in python3.

import requests

import pandas as pd
pd.set_option("max_rows", 100)
pd.set_option("max_columns", 100)

import patsy
import numpy as np
import scipy as sp
import statsmodels as smd
import statsmodels.api as sm
from statsmodels.formula.api import logit, glm

from scipy.stats import fisher_exact
from scipy.stats import f_oneway

# Load spreadsheets

In [4]:
# spreadsheet data
table_all = pd.read_csv("/home/gus/MEGAsync/zim/main/Yale/Projects/Spiroplasma/related_files/2015_11_30__Spiroplasma_tested_samples_REFINED.csv")

## Run script to load main database info into this notebook

In [3]:
# %run /home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/gff_pandas_database.py

In [4]:
# def recode_dfp(df):
#     df['Collection Year'] = pd.DatetimeIndex(df.Date).year
#     df = df.rename(columns={"Village": "Location Code", "Fly_Number": "Fly Number"})
#     return df[["Location Code","Collection Year","Fly Number","Sex"]]

In [5]:
# d = recode_dfp(dfp.copy())
# d.head()

## Recover sex data into `table_gsh` by crossref with `dfp`

In [6]:
# # recover sex data into table_gsh by joining with dfp
# table_gsh = pd.merge(left=table_gsh.copy(), right=recode_dfp(dfp.copy()), 
#                      how='left', 
#                      on=["Location Code","Collection Year","Fly Number"], 
#                      left_on=None, right_on=None, 
#                      left_index=False, right_index=False, 
#                      sort=False, suffixes=('_x', '_y'), copy=True)

In [7]:
# table_gsh.head()

In [8]:
# table_all = pd.concat([table_gsh.dropna(),
#                        table_xls[["Location Code","Collection Year","Fly Number","Sex","Spiroplasma"]].dropna()])
# table_all.head()

-----------------

# Group data by number of flies belonging to any combination of +/- vs M/F

In [5]:
table_all.head()

,Box,Location Code,General location,Numbers on Vial,Fly Number,Month,Sex,DNA made,Spiroplasma
0,RP3,AIN,NW,ARI4158,158,Jun-14,F,Yrp,False
1,RP3,AIN,NW,ARI4159,159,Jun-14,F,Yrp,True
2,RP3,AIN,NW,ARI4161,161,Jun-14,F,Yrp,True
3,RP3,AIN,NW,ARI4162,162,Jun-14,M,Yrp,False
4,RP3,AIN,NW,ARI4163,163,Jun-14,F,Yrp,True

In [6]:
table_all_pivot = table_all.pivot_table(values="Fly Number", 
                                        index=["Location Code"], 
                                        columns=["Spiroplasma","Sex"], 
                                        aggfunc=[len], 
                                        fill_value=0, margins=False, dropna=True)

table_all_pivot.columns = table_all_pivot.columns.droplevel() # removes useless 'len' top multilevel index
table_all_pivot

Spiroplasma   False     True
Sex               F   M     F  M
Location Code
AIN              10   7    12  5
AMI              12  10     0  1
BOL               9   6     2  1
CHU               9   8     1  0
DUK               9  10    18  9
GAN              16   4     9  3
KIL              12   3     2  0
LEA               7   5     2  0
NGO              12   5     0  0
OCA               6   1     0  0
OCU               7   6     1  1
ORB              25   7    19  7
TUM               9   7     0  0

# Hypotheses tests of locations and multiple testing corrections

In [7]:
def do_tests(df):
    
    locations = df.index.values
    
    tests = {}
    
    for loc in locations:
        
        locdf = df.loc[loc,:]
        contingency_table = locdf.reshape((2,2))
        
        odds_ratio, p_val = fisher_exact(contingency_table)
        
        tests[loc] = (odds_ratio, p_val)
        
    contingency_table_all = df.sum().reshape((2,2))
    odds_ratio_all, p_val_all = fisher_exact(contingency_table_all)
    
    tests['all'] = (odds_ratio_all, p_val_all)
    
    testsdf = pd.DataFrame(data=tests, index=["Odds ratio","pvals"], columns=tests.keys(), dtype=None, copy=False)
    return testsdf.T

def add_fdr(df):
    multitests =smd.stats.multitest.multipletests 
    
    # do the fdr correction
    reject_or_not,corrected_pval = multitests(pvals=df.pvals, alpha=0.05, method='fdr_bh')[:2]
    
    # add results to dataframe
    df["Reject the null?"],df["adjusted pvals"] = reject_or_not,corrected_pval

In [8]:
results = do_tests(table_all_pivot)
add_fdr(results)
results.sort()

/home/gus/.anaconda/envs/stack2/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  app.launch_new_instance()

     Odds ratio     pvals Reject the null?  adjusted pvals
AIN    0.595238  0.720682            False               1
AMI         inf  0.478261            False               1
BOL    0.750000  1.000000            False               1
CHU    0.000000  1.000000            False               1
DUK    0.450000  0.233335            False               1
GAN    1.333333  1.000000            False               1
KIL    0.000000  1.000000            False               1
LEA    0.000000  0.505495            False               1
NGO         NaN  1.000000            False               1
OCA         NaN  1.000000            False               1
OCU    1.166667  1.000000            False               1
ORB    1.315789  0.761250            False               1
TUM         NaN  1.000000            False               1
all    0.740506  0.296662            False               1

# Is there a significant difference of Spiroplasma prevalence between populations?

- will NOT use one way ANOVA bc the data is categorical
- will use logit regression probably
- may run both `scipy` and `statsmodels` version out of curiousity and to double check results

## To make the easier to interpret going to pull in the GPS coords of the locations

- this will let me run the comparison vs location name (categorical) and location coords (numerical)

In [10]:
location_gps = pd.read_csv('/home/gus/src/repos/git/field_data/locations/gps/villages/uganda_villages_gps.csv',
                           sep=','
                          )

In [13]:
location_gps.head()

  Location  Latitude  Longitude
0      ABO  2.466775   32.56499
1      ACA  2.270080   32.52053
2       AG  2.413985   32.59915
3      AIN  3.304225   31.11941
4      AKA  2.372580   32.67495

In [14]:
table_all_gps = pd.merge(left=table_all, 
                         right=location_gps, 
                         how='left', 
                         on=None, 
                         left_on="Location Code", right_on="Location", 
                         left_index=False, right_index=False, 
                         sort=False, suffixes=('_x', '_y'), copy=True).drop(labels=["Location"],axis=1)
table_all_gps.head()

,Box,Location Code,General location,Numbers on Vial,Fly Number,Month,Sex,DNA made,Spiroplasma,Latitude,Longitude
0,RP3,AIN,NW,ARI4158,158,Jun-14,F,Yrp,False,3.304225,31.11941
1,RP3,AIN,NW,ARI4159,159,Jun-14,F,Yrp,True,3.304225,31.11941
2,RP3,AIN,NW,ARI4161,161,Jun-14,F,Yrp,True,3.304225,31.11941
3,RP3,AIN,NW,ARI4162,162,Jun-14,M,Yrp,False,3.304225,31.11941
4,RP3,AIN,NW,ARI4163,163,Jun-14,F,Yrp,True,3.304225,31.11941

In [15]:
# recode Spiroplasma as 0/1 vs True/False
table_all_gps["Spiroplasma"] = table_all_gps.Spiroplasma.map({True:1,False:0})
table_all_gps.head()

,Box,Location Code,General location,Numbers on Vial,Fly Number,Month,Sex,DNA made,Spiroplasma,Latitude,Longitude
0,RP3,AIN,NW,ARI4158,158,Jun-14,F,Yrp,0,3.304225,31.11941
1,RP3,AIN,NW,ARI4159,159,Jun-14,F,Yrp,1,3.304225,31.11941
2,RP3,AIN,NW,ARI4161,161,Jun-14,F,Yrp,1,3.304225,31.11941
3,RP3,AIN,NW,ARI4162,162,Jun-14,M,Yrp,0,3.304225,31.11941
4,RP3,AIN,NW,ARI4163,163,Jun-14,F,Yrp,1,3.304225,31.11941

## Run the logistic regression model

In [16]:
logit_gps = logit('Spiroplasma ~ Longitude + Latitude',
                data=table_all_gps,
               ).fit()
logit_gps.summary()

Optimization terminated successfully.
         Current function value: 0.470589
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            Spiroplasma   No. Observations:                  437
Model:                          Logit   Df Residuals:                      434
Method:                           MLE   Df Model:                            2
Date:                Mon, 30 Nov 2015   Pseudo R-squ.:                  0.1466
Time:                        10:19:55   Log-Likelihood:                -205.65
converged:                       True   LL-Null:                       -240.96
                                        LLR p-value:                 4.611e-16
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     39.5031      7.603      5.196      0.000        24.601    54.405
Longitude     -1.3439      0.227     -5.932      0.000        -1.788    -0.900
Latitude       0.6648      0.365      1.823      0.068        -0.050     1.380
==============================================================================
"""

In [17]:
logit_gps.get_margeff().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:            Spiroplasma
Method:                          dydx
At:                           overall
==============================================================================
                dy/dx    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Longitude     -0.2093      0.030     -6.904      0.000        -0.269    -0.150
Latitude       0.1035      0.057      1.825      0.068        -0.008     0.215
==============================================================================
"""

-------------------

# Final Results

### Overview of what was done:

#### Sex Bias
1. Tables were cleaned using [OpenRefine](http://openrefine.org/) to standardize things like
    - "positive"
    - "Positive"
    - "yes"
    - "Yes"

2. Tables were read into this notebook and the table without Sex information was cross-referenced with the original database entries to recover any sex information availible.
3. Tables were further cleaned to remove any columns that were not needed to unambiguously identify each fly or represent the Sex/Spiroplasma data.
    - Flies that had missing data or needed to be re-run were removed.
4. Data were grouped by the number of flies belonging to any combination of __Spiroplasma results__ (pos/neg) vs __Sex__ (M/F).
    - This table represents contingency table information for each location.
5. The contingency tables for each location as well as the summed contingency table for all data combined, were used to calculate [Fisher's exact test of independence](http://www.biostathandbook.com/fishers.html) to yield odds ratios and initial p-values for all sub-sets of data examined.
6. Multiple testing correction (Benjamini-Hochberg) was applied and adjusted p-values along with rejection of null hypothese recommentations appened to the table.

#### Geographical Location Bias

1. Started with the same data as used above but brought in the representative latitude and longitude coordinates of each location to use as the independent variables.
2. Logistic regression was run with the model: `infection ~ lat + long`:
    - _independent variables:_ `lat`, `long`
    - _dependent variables:_ `infection`

---------------------

# Sex Bias Results:

## Contingency Data:

In [18]:
table_all_pivot

Spiroplasma   False     True
Sex               F   M     F  M
Location Code
AIN              10   7    12  5
AMI              12  10     0  1
BOL               9   6     2  1
CHU               9   8     1  0
DUK               9  10    18  9
GAN              16   4     9  3
KIL              12   3     2  0
LEA               7   5     2  0
NGO              12   5     0  0
OCA               6   1     0  0
OCU               7   6     1  1
ORB              25   7    19  7
TUM               9   7     0  0

## Significance tests:

In [19]:
results.sort()

/home/gus/.anaconda/envs/stack2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

     Odds ratio     pvals Reject the null?  adjusted pvals
AIN    0.595238  0.720682            False               1
AMI         inf  0.478261            False               1
BOL    0.750000  1.000000            False               1
CHU    0.000000  1.000000            False               1
DUK    0.450000  0.233335            False               1
GAN    1.333333  1.000000            False               1
KIL    0.000000  1.000000            False               1
LEA    0.000000  0.505495            False               1
NGO         NaN  1.000000            False               1
OCA         NaN  1.000000            False               1
OCU    1.166667  1.000000            False               1
ORB    1.315789  0.761250            False               1
TUM         NaN  1.000000            False               1
all    0.740506  0.296662            False               1

# Sex Bias Conclusions:

There is <b><font color="red">no sex bias detected</font></b> for probability of being infected with Spiroplasma based on these data at the location level nor over all.

 ----

# Geographical Bias Results:

In [20]:
logit_gps.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            Spiroplasma   No. Observations:                  437
Model:                          Logit   Df Residuals:                      434
Method:                           MLE   Df Model:                            2
Date:                Mon, 30 Nov 2015   Pseudo R-squ.:                  0.1466
Time:                        10:20:00   Log-Likelihood:                -205.65
converged:                       True   LL-Null:                       -240.96
                                        LLR p-value:                 4.611e-16
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     39.5031      7.603      5.196      0.000        24.601    54.405
Longitude     -1.3439      0.227     -5.932      0.000        -1.788    -0.900
Latitude       0.6648      0.365      1.823      0.068        -0.050     1.380
==============================================================================
"""

In [21]:
logit_gps.get_margeff().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:            Spiroplasma
Method:                          dydx
At:                           overall
==============================================================================
                dy/dx    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Longitude     -0.2093      0.030     -6.904      0.000        -0.269    -0.150
Latitude       0.1035      0.057      1.825      0.068        -0.008     0.215
==============================================================================
"""

# Geographical Bias Conclusions:

There <b><font color="green">is geographical bias detected</font></b> for probability of being infected with Spiroplasma based on these data.

- The overall significance of the analysis is $p_{_{LLR}} = 4.611\times10^{-16}$ which is easily significant and 10 orders of magnitude more significant than the last run.
- Particularly, the marginal effects value for __Longitude__ (-0.1670, $p < 10^{-4}$) suggests that as __Longitude__ increases, the probability of infection __DE__-creases. _(the farther east you go the LESS infections you should expect)_
- The effect of __Latitude__ is predicted to be that its increase would result in less pronounced IN-crease of infection probability. _(the farther north you go, the MORE infections you should expect)_  <font color="coral"> _While this prediction was __not__ significant in the current data, it is now approaching an alpha cut-off of the standard 0.05 (0.068) and is an order of magnitude more significant than before.  If the basic pattern continues, I expect the north/south relationship to become significant with more data.  __However__, the east/west relationship still seems to be stronger in both effect size and significance._</font> 

## Comparison with results from last time:

- The marginal effect of __Longitude__ rebounded back to around -0.2 or nearly the same as the first time:
    - `[original]` -0.2139 ($p < 10^{-4}$)
    - `[last time]` -0.1670 ($p < 10^{-4}$)
    - `[this time]` -0.2093 ($p < 10^{-4}$)

- The marginal effect of __Latitude__ :
    - `[original]` 0.0701 ($p = 0.505 $)
    - `[last time]` -0.0171($p = 0.728 $)
    - `[this time]` 0.1035 ($p = 0.068 $)

- The Latitude effect returned to the same direction as the original analysis and the p-value also became an order of magnitude more significant.  It is now approaching an alpha cut-off of the standard 0.05 but does not quite reach it. 

----

# Infection rate per location

In [22]:
table_all

,Box,Location Code,General location,Numbers on Vial,Fly Number,Month,Sex,DNA made,Spiroplasma
0,RP3,AIN,NW,ARI4158,158,Jun-14,F,Yrp,False
1,RP3,AIN,NW,ARI4159,159,Jun-14,F,Yrp,True
2,RP3,AIN,NW,ARI4161,161,Jun-14,F,Yrp,True
3,RP3,AIN,NW,ARI4162,162,Jun-14,M,Yrp,False
4,RP3,AIN,NW,ARI4163,163,Jun-14,F,Yrp,True
5,RP3,AIN,NW,ARI4164,164,Jun-14,F,Yrp,True
6,RP3,AIN,NW,ARI4165,165,Jun-14,F,Yrp,False
7,RP3,AIN,NW,ARI4166,166,Jun-14,F,Yrp,False
8,RP3,AIN,NW,ARI4167,167,Jun-14,M,Yrp,False
9,RP3,AIN,NW,ARI4169,169,Jun-14,M,Yrp,False
10,RP3,AIN,NW,ARI4170,170,Jun-14,M,Yrp,False
11,RP3,AIN,NW,ARI4171,171,Jun-14,F,Yrp,False
12,RP3,AIN,NW,ARI4172,172,Jun-14,F,Yrp,False
13,RP3,AIN,NW,ARI4173,173,Jun-14,M,Yrp,True
14,RP3,AIN,NW,ARI4174,174,Jun-14,F,Yrp,True
15,RP3,AIN,NW,ARI4175,175,Jun-14,F,Yrp,True
16,RP3,AIN,NW,ARI4176,176,Jun-14,F,Yrp,True
17,RP3,AIN,NW,ARI4177,177,Jun-14,M,Yrp,True
18,RP3,AIN,NW,ARI4178,178,Jun-14,F,Yrp,False
19,RP3,AIN,NW,ARI4179,179,Jun-14,M,Yrp,True
20,RP3,AIN,NW,ARI4180,180,Jun-14,F,Yrp,True
21,RP3,AIN,NW,ARI4181,181,Jun-14,F,Yrp,True
22,RP3,AIN,NW,ARI4182,182,Jun-14,M,Yrp,False
23,RP3,AIN,NW,ARI4183,183,Jun-14,F,Yrp,False
24,RP3,AIN,NW,ARI4184,184,Jun-14,F,Yrp,False
25,RP3,AIN,NW,ARI4185,185,Jun-14,F,Yrp,True
26,RP3,AIN,NW,ARI4187,187,Jun-14,F,Yrp,False
27,RP3,AIN,NW,ARI4194,194,Jun-14,M,Yrp,True
28,RP3,AIN,NW,ARI4195,195,Jun-14,M,Yrp,False
29,RP3,AIN,NW,ARI4196,196,Jun-14,M,Yrp,True
30,RP3,AIN,NW,ARI4197,197,Jun-14,F,Yrp,True
31,RP3,AIN,NW,ARI4199,199,Jun-14,F,Yrp,False
32,RP3,AIN,NW,ARI4200,200,Jun-14,M,Yrp,False
33,RP3,AIN,NW,ARI4315,315,Jun-14,F,Yrp,True
34,RP4,DUK,NW,AR14016 T20,16,Jun-14,F,Yrp,False
35,RP4,DUK,NW,AR14001 T20,1,Jun-14,M,Yrp,False
36,RP4,DUK,NW,AR14002 T20,2,Jun-14,M,Yrp,False
37,RP4,DUK,NW,AR14004 T20,4,Jun-14,F,Yrp,False
38,RP4,DUK,NW,AR14007 T20,7,Jun-14,M,Yrp,False
39,RP4,DUK,NW,AR14008 T20,8,Jun-14,F,Yrp,False
40,RP4,DUK,NW,AR14009 T20,9,Jun-14,M,Yrp,False
41,RP4,DUK,NW,AR14015 T20,15,Jun-14,F,Yrp,False
42,RP4,DUK,NW,AR14049 T19,49,Jun-14,M,Yrp,False
43,RP4,DUK,NW,AR14050 T19,50,Jun-14,M,Yrp,False
44,RP4,DUK,NW,AR14003 T20,3,Jun-14,F,Yrp,True
45,RP4,DUK,NW,AR14005 T20,5,Jun-14,F,Yrp,True
46,RP4,DUK,NW,AR14006 T20,6,Jun-14,F,Yrp,True
47,RP4,DUK,NW,AR14010 T20,10,Jun-14,M,Yrp,True
48,RP4,DUK,NW,AR14011 T20,11,Jun-14,M,Yrp,True
49,RP4,DUK,NW,AR14012 T20,12,Jun-14,M,Yrp,False
...,...,...,...,...,...,...,...,...,...
402,NaN,KIL,CE,KIL_14_104,23,NaN,M,yrp,False
403,NaN,KIL,CE,KIL_14_121,24,NaN,M,yrp,False
404,NaN,NGO,NE,NGO_14_008,1,NaN,F,yrp,False
405,NaN,NGO,NE,NGO_14_009,2,NaN,F,yrp,False
406,NaN,NGO,NE,NGO_14_013,3,NaN,F,yrp,False
407,NaN,NGO,NE,NGO_14_014,4,NaN,F,yrp,False
408,NaN,NGO,NE,NGO_14_015,5,NaN,F,yrp,False
409,NaN,NGO,NE,NGO_14_016,6,NaN,F,yrp,False
410,NaN,NGO,NE,NGO_14_034,7,NaN,F,yrp,False
411,NaN,NGO,NE,NGO_14_057,8,NaN,F,yrp,False
412,NaN,NGO,NE,NGO_14_058,9,NaN,M,yrp,False
413,NaN,NGO,NE,NGO_14_060,10,NaN,M,yrp,False
414,NaN,NGO,NE,NGO_14_061,11,NaN,F,yrp,False
415,NaN,NGO,NE,NGO_14_062,12,NaN,F,yrp,False
416,NaN,NGO,NE,NGO_14_063,13,NaN,M,yrp,False
417,NaN,NGO,NE,NGO_14_065,14,NaN,M,yrp,False
418,NaN,NGO,NE,NGO_14_069,15,NaN,M,yrp,False
419,NaN,NGO,NE,NGO_14_075,16,NaN,F,yrp,False
420,NaN,NGO,NE,NGO_14_076,17,NaN,F,yrp,False
421,NaN,OCU,CE,OCU_14_024,91,NaN,M,yrp,False
422,NaN,OCU,CE,OCU_14_216,92,NaN,M,yrp,False
423,NaN,OCU,CE,OCU_14_230,93,NaN,F,yrp,False
424,NaN,OCU,CE,OCU_14_423,94,NaN,F,yrp,False
425,NaN,OCU,CE,OCU_14_462,95,NaN,M,yrp,False
426,NaN,OCU,CE,OCU_14_468,96,NaN,M,yrp,False
427,NaN,OCU,CE,OCU_14_471,97,NaN,F,yrp,False
428,NaN,OCU,CE,OCU_14_472,98,NaN,F,yrp,False
429,NaN,OCU,CE,OCU_14_482,99,NaN,M,yrp,False
430,NaN,OCU,CE,OCU_14_487,100,NaN,M,yrp,False
431,NaN,OCU,CE,OCU_14_503,101,NaN,F,yrp,False
432,NaN,OCU,CE,OCU_14_505,102,NaN,M,yrp,True
433,NaN,OCU,CE,OCU_14_512,103,NaN,F,yrp,False
434,NaN,OCU,CE,OCU_14_515,104,NaN,F,yrp,False
435,NaN,OCU,CE,OCU_14_517,105,NaN,F,yrp,True
436,NaN,TUM,NE,TUM_14_078,36,NaN,F,yrp,False
437,NaN,TUM,NE,TUM_14_124,67,NaN,M,yrp,False
438,NaN,TUM,NE,TUM_14_127,68,NaN,F,yrp,False
439,NaN,TUM,NE,TUM_14_128,69,NaN,F,yrp,False
440,NaN,TUM,NE,TUM_14_129,37,NaN,F,yrp,False
441,NaN,TUM,NE,TUM_14_131,38,NaN,F,yrp,False
442,NaN,TUM,NE,TUM_14_132,39,NaN,M,yrp,False
443,NaN,TUM,NE,TUM_14_133,40,NaN,M,yrp,False
444,NaN,TUM,NE,TUM_14_135,41,NaN,F,yrp,False
445,NaN,TUM,NE,TUM_14_137,42,NaN,M,yrp,False
446,NaN,TUM,NE,TUM_14_139,43,NaN,M,yrp,False
447,NaN,TUM,NE,TUM_14_169,44,NaN,M,yrp,False
448,NaN,TUM,NE,TUM_14_170,45,NaN,F,yrp,False
449,NaN,TUM,NE,TUM_14_171,46,NaN,M,yrp,False
450,NaN,TUM,NE,TUM_14_203,47,NaN,F,yrp,False
451,NaN,TUM,NE,TUM_14_204,48,NaN,F,yrp,False

In [23]:
infection_rate_by_location = pd.crosstab(index=table_all['Location Code'], columns=table_all['Spiroplasma'])

In [24]:
infection_rate_by_location.head()

Spiroplasma    False  True
Location Code
AIN               17     17
AJ                12      3
AMI               22      1
BOL               15      3
CHU               17      1

In [25]:
infection_rate_by_location = infection_rate_by_location.reset_index().merge(right=location_gps,
                                               how='left', 
                                               left_on="Location Code", right_on="Location", 
                                               left_index=False, right_index=False)

In [26]:
infection_rate_by_location

Spiroplasma Location Code  False  True Location  Latitude  Longitude
0                     AIN     17    17      AIN  3.304225  31.119410
1                      AJ     12     3      NaN       NaN        NaN
2                     AMI     22     1      AMI  1.924830  33.156138
3                     BOL     15     3      BOL  3.293400  32.782460
4                     CHU     17     1      CHU  2.606845  32.937580
5                     DUK     19    27      DUK  3.266800  31.134205
6                     GAN     20    12      GAN  3.252455  31.121625
7                     GOR     16     7      GOR  3.266060  32.208055
8                     KIL     16     2      KIL  2.746835  32.951615
9                     LEA     12     2      LEA  3.592540  31.607020
10                    NGO     17     0      NGO  3.668610  32.591310
11                    OCA     24     0      OCA  2.427140  32.628310
12                    OCU     13     2      OCU  1.847728  33.155000
13                    OLO     21     3      OLO  3.483900  32.011625
14                    ORB     32    26      ORB  3.692510  31.780100
15                    OSG     32     1      OSG  3.200835  31.722680
16                    TUM     16     0      TUM  3.241970  32.760760
17                    UWA     23     1      UWA  2.248440  32.248855

In [27]:
infection_rate_by_location_path = "/home/gus/MEGAsync/zim/main/Yale/Projects/Spiroplasma/related_files/2015_11_04__spiroplasma_rate_by_location.csv"

infection_rate_by_location[["Location", False,True,"Latitude","Longitude"]].to_csv(path_or_buf=infection_rate_by_location_path,
                                                                                 sep=',',
                                                                                 index=False)