In [1]:
import pandas as pd

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

import random as rand

In [4]:
run /home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/gff_pandas_database.py

Main dataframe is dfp: and is only Gff.

/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/gff_pandas_database.py:330: DeprecationWarning: BaseException.message has been deprecated as of Python 2.6
  if 'NAN' in exc.message.upper():

In [5]:
run /home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/2015-03-24_looking_for_infections_in_old_files.py

'provided_dataframes' contains refs to useful dataframes.

In [6]:
# Load Chaz MSAT individuals
table_msat = pd.read_csv('/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/microsat/GffMsats_1480individuals_ID_list.csv')
table_msat.head(10)

  Fly Number
0   AM11e001
1   AM11e002
2   AM11e003
3   AM11e004
4   AM11e005
5   AM11e006
6   AM11e008
7   AM11e009
8   AM11e010
9   AM11e013

In [7]:
provided_dataframes.keys()

['df_samples',
 'traps_gps_uganda',
 'villages_gps_uganda',
 'wolbachia_data_orig',
 'uganda',
 'df_tryps',
 'table_latlon']

# From looking at papers southern sites include:

- BK
- BKD
- BN
- BU
- BV
- BY
- BZ
- DB
- EB
- IGG
- JN
- KF
- KG
- KIS
- KL
- KO
- LI
- MA
- MGG
- MK
- NA
- NAM
- ND
- NS
- OK
- OS
- PT
- SA
- TB

In [9]:
df_samples.iloc[rand.sample(range(len(df_samples)), 10)]

,aliguot_n,aliquot_n,banked_sample_id,collection_date,collection_id,collection_id.1,curation_date,curator,food_state,id,internal_notes,internal_notes.1,life_stage,population,public_notes,sex,size,species_id,species_id.1,species_identification,species_identification_method_id,specimen_id,stoage,storage,submission_date,submitter,tissue,tube_num
49,NaN,NaN,BU10.30,2008-03-13 00:00:00,BU10,NaN,,,,,,NaN,,BU,storage=S002,M,1,G. fuscipes,NaN,NaN,,NaN,NaN,NaN,2010-06-01,J Beadell;B Symula;U Alam,NaN,30
443,NaN,NaN,OK09061,39901,OKXX,NaN,,,,,,NaN,,OK,Storage=N/A,F,1,G. fuscipes,NaN,NaN,,NaN,NaN,NaN,40344,J Beadell;B Symula;U Alam,NaN,
307,NaN,NaN,BU09021,2009-03-27 00:00:00,BU08-2009,NaN,,,,,,NaN,,BU,Storage=N/A,M,1,G. fuscipes,NaN,NaN,,NaN,NaN,NaN,2010-06-15 00:00:00,J Beadell;B Symula;U Alam,NaN,
135,NaN,,Pader1.2,2007-08-15 00:00:00,Pader01-2007,NaN,,,,,,NaN,,Pader,,M,1,G. fuscipes,NaN,NaN,,,NaN,,2010-06-11 00:00:00,J Beadell;B Symula;U Alam,,2
8,NaN,,KA09009,7/x/09,KAXX-2009,NaN,,,,,,NaN,,KA,,M,1,G. fuscipes,NaN,NaN,,,NaN,S009,2010-06-10 00:00:00,J Beadell;B Symula;U Alam,,
64,NaN,,BN6.17,2008-03-20 00:00:00,BN06-2008,NaN,,,,,,NaN,,BN,,M,1,G. fuscipes,NaN,NaN,,,NaN,S005,2010-06-01,J Beadell;B Symula;U Alam,,17
56,NaN,NaN,BV08018,4/x/08,Bvbulk-2008,NaN,,,,,,NaN,,BV,storage N/A,M,1,G. fuscipes,NaN,NaN,,NaN,NaN,NaN,2010-06-06 00:00:00,J Beadell;B Symula;U Alam,NaN,18
34,NaN,,KA09035,7/x/09,KAXX-2009,NaN,,,,,,NaN,,KA,,F,1,G. fuscipes,NaN,NaN,,,NaN,S009,2010-06-10 00:00:00,J Beadell;B Symula;U Alam,,
211,NaN,NaN,OK7.6,2008-03-16 00:00:00,OK07-2008,NaN,,,,,,NaN,,OK,storage=S003,M,1,G. fuscipes,NaN,NaN,,NaN,NaN,NaN,2010-06-01,J Beadell;B Symula;U Alam,NaN,6
113,NaN,,ND08022,2008-11-04 00:00:00,ND05-2008,NaN,,,,,,NaN,,ND,,,1,G. fuscipes,NaN,NaN,,,NaN,S016,2010-06-15 00:00:00,J Beadell;B Symula;U Alam,,

In [20]:
def fuzzy_filter(item, targets):
    """Returns boolean if filter is successfull on ``item``.

    Args:
        item (str): string in dataframe column to be filtered
        targets (list): list of location codes we want from the database.

    Returns:
        boolean
    """

    hit = process.extractOne(item, targets)
    return hit[-1] >= 80

def mask_by_fuzzy(targets, db):
    """Creates extraction mask to pull out targets from db based on fuzzy matching.
    
    Args:
        targets (list): list of location codes we want from the database.
        db (DataFrame): dataframe representing the ad hoc database.
    

    Returns:
        pandas mask
    """
    
    filter_func = 
    
    
    mask = db.banked_sample_id.apply(fuzzy_filter, targets=targets)
    
    return mask

In [15]:
south_locs = ["BK","BKD","BN","BU","BV","BY","BZ","DB","EB","IGG","JN","KF","KG","KIS","KL","KO","LI","MA","MGG","MK","NA","NAM","ND","NS","OK","OS","PT","SA","TB"]

In [12]:
hit = process.extractOne(u'NAM',table_msat['Fly Number'])
print hit
hit[-1] >= 80

('NAM11_156', 90)

True

In [21]:
south_mask = mask_by_fuzzy(targets=south_locs, db=df_samples)
south_mask

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
      ...
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
24    False
28    False
29    False
32    False
33    False
34    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
Name: banked_sample_id, dtype: bool

In [13]:
fuzz.ratio(u'BU12.59','BU')

44

In [ ]:
smask = uganda.id.apply(lambda x: True if x in south_locs else False)

In [ ]:
south_villages = uganda.query("latitude <= 1.481837")
south_villages

# Get Robert a list of likely southern genotyped flies

In [ ]:
# df_samples_typed = pd.merge(left=table_msat, right=df_samples, 
#                              how='inner', 
#                              on=None, left_on="Fly Number", right_on="banked_sample_id", 
#                              left_index=False, right_index=False, 
#                              sort=False, suffixes=('_x', '_y'), copy=True)


# # df_samples_typed  # these ONLY contain BK09 tubes

In [ ]:
# df_samples_typed = pd.merge(left=table_msat, right=df_samples, 
#                              how='inner', 
#                              on=None, left_on="Fly Number", right_on="banked_sample_id", 
#                              left_index=False, right_index=False, 
#                              sort=False, suffixes=('_x', '_y'), copy=True)